[submodule "data-explorer-service"]
	path = data-explorer-service
	url = git@github.com:bvprivate/data-explorer-service.git
[submodule "helm-elasticsearch"]
	path = helm-elasticsearch
	url = git@github.com:bvprivate/helm-elasticsearch.git
[submodule "job-manager"]
	path = job-manager
	url = git@github.com:DataBiosphere/job-manager.git
